body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    
    background: rgb(215, 215, 215);
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));    
}
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
 /* border: 1px #eee solid; */   
    color: #333;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

h1
{
  font-size:1.2em;
  border-bottom: 5px solid #aaa;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.1;
    transition: opacity 1s ease 0s;
}

.impress-enabled .step.active {
    opacity: 1;
}
/*
p {
  margin-top: 500px;
}
*/
#start {
  color: #bbb;
  background-image: url(../img/inner-peace.jpg);  
  background-size: 100%;
}
#start p{
  padding-top:500px;
  text-align:right;
}

#why{
  font-size:3.5em;
}

#why div:nth-child(2){
  margin-left:100px;
}

#why div:nth-child(3){
  margin-left:200px;
}

#why div:nth-child(4){
  margin-left:300px;
}

.kent-says{
  background:url(../img/kent.png) no-repeat; 
  background-position:right bottom; 
  width:800px; 
  height:600px;
}

blockquote{
  font-size:0.6em;
}
